body {
    background-color: black;
    font-size: 15px;
    color: white;
    font-family: Monospace, sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 0;
}

h2 {
    font-size: 15px;
    font-weight: 100;
}

@keyframes slide {
    0% {
      -webkit-transform: translateX(-25%);
      -moz-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      -o-transform: translateX(-25%);
      transform: translateX(-25%);
    }
    100% {
      -webkit-transform: translateX(25%);
      -moz-transform: translateX(25%);
      -ms-transform: translateX(25%);
      -o-transform: translateX(25%);
      transform: translateX(25%);
    }
}

@keyframes btnConfirm {
    0% { color: black; };
    25% { color: white; };
    50% { color: black; };
    75% { color: white; };
    100% { color: black; }

}

.bg {
    background-image: linear-gradient(-60deg, #222222 50%, #18191a 50%);
    position: fixed;
    bottom: 0;
    left: -50%;
    right: -50%;
    top: 0;
    opacity: .5;
    z-index: -1;
    -webkit-animation: slide 3s ease-in-out infinite alternate;
    -moz-animation: slide 3s ease-in-out infinite alternate;
    -ms-animation: slide 3s ease-in-out infinite alternate;
    -o-animation: slide 3s ease-in-out infinite alternate;
    animation: slide 3s ease-in-out infinite alternate;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.nav {
    position: absolute;
    top: 20em;
    left: 4.5em;
    width: 8em;
    height: 10em;
    z-index: 900;
}

.btn {
    display: block;
    padding: .5em;
    text-align: left;
    text-decoration: none;
    font-size: 1.2em;
    font-variant: small-caps;
    color: white;
    cursor: default;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.btn:active {
    -webkit-animation: btnConfirm 0.3s;
    animation: btnConfirm 0.3s;
}

.nav:hover .btn {
    opacity: 0.2;
}

.nav .btn:hover {
    opacity: 1;
    text-transform: uppercase
}

.shiftBox {
    opacity: 0;
    z-index: -2;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.shiftBox:target {
    opacity: 1;
    z-index: 900;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.container {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 43vw;
    height: 70vh;
    padding: 5em;
    background-color: #0f0f0f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: -15px;
        right: 15px;
        bottom: 15px;
        border: 4px solid #0f0f0f;
        z-index: 99;
        mix-blend-mode: difference;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
    }
}

.stripeBoxName {
    background-image: linear-gradient(45deg, #0f0f0f 38.46%, #1c1c1c 38.46%, #1c1c1c 50%, #0f0f0f 50%, #0f0f0f 88.46%, #1c1c1c 88.46%, #1c1c1c 100%);
    background-size: 18.38px 18.38px;
    position: absolute;
    top: 6.5rem;
    left: 5.5rem;
    width: 65%;
    height: 10em;
    z-index: -1;
}

/*--- HOME ---*/
.introBox {
    position: absolute;
    bottom: 3em;
    right: 4em;
    width: 15em;
    height: 15em;
    z-index: 900;
}

.stripeBoxInfo {
    background-image: linear-gradient(45deg, #0f0f0f 38.46%, #1c1c1c 38.46%, #1c1c1c 50%, #0f0f0f 50%, #0f0f0f 88.46%, #1c1c1c 88.46%, #1c1c1c 100%);
    background-size: 18.38px 18.38px;
    position: absolute;
    bottom: 3rem;
    right: 6rem;
    width: 18em;
    height: 20em;
    z-index: -1;
}


