@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand.ttf'); /* double .. means you go UP a folder from the current directory. required for this to navigate to fonts folder. */
    font-display: swap;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: 'Quicksand', 'Monospace';
    background-image: url('../images/black-felt.png');
    background-repeat: repeat;
    text-align: left;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: gray;

    &:hover {
        color: white;
    }
}

hr {
    width: 10em;
    margin: 2em auto;
    border: 1px solid gray;
}

.logo {
    position: fixed;
    top: 3rem;
    left: 3rem;
    background-image: url('../images/logoTransparent.png');
    width: 27px;
    height: 50px;
}

.container {
    margin: auto; position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 40em;
    height: 60em;
}

