@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand.ttf'); /* double .. means you go UP a folder from the current directory. required for this to navigate to fonts folder. */
    font-display: swap;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
}

:root {
    background-image: url('../images/black-felt.png');
    background-repeat: repeat;
    background-color: black;
    font-family: 'Quicksand', 'Monospace';
    color: white;
    line-height: 2em;
    text-align: left;


    --fontColor: white;
    --linkColor: gray;
    --linkHoverColor: white;
}

a {
    text-decoration: none;
    color: gray;

    &:hover {
        color: white;
    }
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

hr {
    width: 10em;
    margin: 2em auto;
    border: 1px solid #8080803b;
}

@keyframes fadeIn {
    0% { opacity: 0; };
    100% {opacity: 1; };
}

.logo {
    position: fixed;
    top: 3em;
    left: 3em;
    background-image: url('../images/logoTransparent.png');
    width: 27px;
    height: 50px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
        filter: invert(75%);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}

.container {
    margin: auto; position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 40em;
    height: 60em;
}

.navContainer {
    position: fixed;
    top: 2em;
    right: 2em;
    display: flex;
    justify-content: center;
}

.nav {
    position: relative;
    display: block;
    width: 100px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover{
        color: #969696;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
}

    &:after {
        position: absolute;
        top: 0em;
        right: 7em;
        content:'►';
        font-size: 10px;
        color: #969696;
        opacity: 0;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
}

    &:hover:after {
        right: 8em;
        opacity: 1;
    }
}
/* FIGURE OUT HOW TO STAGGER THIS SO ALL THE TEXT BLOCKS COME IN GRADUALLY */
.infoBlock {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    margin-top: 1em;
}

.infoBlock p:nth-child(1) {
    animation-delay: .5s;
}