* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1000px;
    height: 700px;
    padding: 1em;
    display: flex;
    gap: 1em;
}

.col-left {
    flex: 2;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.col-right {
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.row {
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.row3 {
    display: flex;
}

.row-col {
    flex: 1;
    border: 2px solid red;
}